@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content{
    height: 100vh;
    /*height: 100%;*/
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    overflow: hidden;
}


.app {
    display: flex;
    position: relative;
}


.content{
    flex: 1 1 auto;
    min-width: 0;
    overflow: auto;
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/

}

.content::-webkit-scrollbar {
    width: 5px ;
}

.content::-webkit-scrollbar-track {
    background: #2a2d64;
}

.content::-webkit-scrollbar-thumb {
    background: #535ac8;
}
/*.content > :last-child{*/
/*      flex: 1 1 auto;*/
/*}*/

/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #e0e0e0;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*}*/

/*::-webkit-scrollbar-track:hover {*/
/*    background: #555;*/
/*}*/